body {
  background-color: white;
}
#Header {
  background-color: red;
  display: flex;
  margin-top: -760px;
}
#Dash {
  margin-top: 200px;
  width: 40vw;
  height: 40vh;
  background-color: red;

}
#Container {
  border: solid 1px black;
  width: 40vw;
  height: 40vh;
  margin-left: 50vw;
  background-color: green;
  margin-top: -320px;
}
.Input {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 10vw;
}
